.StyleNavBar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    height: 6rem;
    background-color: rgb(146, 32, 32);
    align-items: center;
    
    
}

.styleLeft{
    margin-right: 60px;
}

.styleInputGroup{

    margin-right: 20px;
    width: 300px;
    gap: 20px;
}

.input-group{
    display: flex;
    gap: 20px;
    height: 100%;
    font-size: 25px;
    align-items: center;

}

.form-control{
    height: 100%;
   
    
}

.d-inline{
    display: contents;
}


@media (max-width : 1000px) {
 .StyleNavBar{
    padding: 4rem;
    font-size: 15px;
    justify-content: center;
 }
}