
.carousel-wrapper {
  position: relative;
  max-width: 90vw;
  margin: auto;
}


.swiper-wrapper-container {
  padding: 80px 100px 80px 5px;
  overflow: hidden;
}


.swiper {
  display: flex;
  margin-left: -80px;
}

.swiper-wrapper {
  display: flex;
}


.slide-card {
  color: white;
  text-align: center;
}

.slide-card img {
  width: 10rem;
  height: 15rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.slide-card img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.slide-card h4 {
  margin-top: 10px;
  font-size: 16px;
}


.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  z-index: 20;
  cursor: pointer;
}


.swiper-button-prev {
  left: -55px; 
  background-image: url('/arrow-left.svg');
}


.swiper-button-next {
  right: -55px; 
  background-image: url('/arrow-right.svg');
}


.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-scrollbar-drag {
  background-color: #fff;
}
